{% extends 'base.html.twig' %}

{% block title %}LeNil Acceuil{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>LeNil</h1>
                <p>LeNil est un site de webmarketplace pouvent vendre des produits ou permettre à d'autre acteur extérieur de vendre les leurs.</p>
            </div>
        </div>
    </div>
{% endblock %}
